<html>
<head>
	<title>请假单管理</title>
	<meta name="decorator" content="default"/>
	<meta charset="utf-8">
	<!--script src="../../../js/headjsp.js"></script-->
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
	<meta name="renderer" content="webkit"><meta http-equiv="X-UA-Compatible" content="IE=8,IE=9,IE=10" />
	<meta http-equiv="Expires" content="0"><meta http-equiv="Cache-Control" content="no-cache"><meta http-equiv="Cache-Control" content="no-store">
	<script src="../../../../static/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
	<script src="../../../../static/jquery/jquery-migrate-1.1.1.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../../../static/TableDnD/jquery.tablednd.js"></script>
	<script src="../../../../static/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../../../../static/jquery-validation/1.14.0/jquery.validate.min.js" type="text/javascript"></script>
	<script src="../../../../static/jquery-validation/1.14.0/localization/messages_zh.min.js" type="text/javascript"></script>
	<link href="../../../../static/jquery-jbox/2.3/Skins/Bootstrap/jbox.min.css" rel="stylesheet" />
	<script src="../../../../static/jquery-jbox/2.3/jquery.jBox-2.3.min.js" type="text/javascript"></script>
	<script src="../../../../static/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
	<link href="../../../../static/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css">
	<script src="../../../../static/pace/pace.min.js"></script>
	<script src="../../../../static/metisMenu/jquery.metisMenu.js"></script>
	<link href="../../../../static/iCheck/custom.css" rel="stylesheet" />
	<script src="../../../../static/iCheck/icheck.min.js"></script>
	<script src="../../../../static/iCheck/icheck-init.js"></script>
	<link href="../../../../static/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
	<script src="../../../../static/dataTables/jquery.dataTables.js"></script>
	<script src="../../../../static/dataTables/dataTables.bootstrap.js"></script>

	<!-- jeespring -->
	<link href="../../../../static/common/jeespring.css" type="text/css" rel="stylesheet" />
	<script src="../../../../static/common/jeespring.js" type="text/javascript"></script>
	<script src="../../../../static/common/fullscreen.js" type="text/javascript"></script>

	<!-- jquery ui -->
	<script src="../../../../static/jquery-ui/jquery-ui.min.js"></script>

	<!-- 引入bootstrap插件 -->
	<!-- bootswatch主题效果不怎么好，停止切换，使用官网的默认版本，如果你想切换主题请访问http://bootswatch.com/下载最新版版主题，by刘高峰 -->
	<!--  <link href="'+ctxStatic+'/bootstrap/3.3.4/css_default/bootstrap.min.css" type="text/css" rel="stylesheet" />-->
	<link href="../../../../static/bootstrap/3.3.4/css_default/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<script src="../../../../static/bootstrap/3.3.4/js/bootstrap.min.js"  type="text/javascript"></script>
	<link href="../../../../static/awesome/4.4/css/font-awesome.min.css" rel="stylesheet" />
	<link href="../../../../static/common/css/style.css?v=3.2.0" type="text/css" rel="stylesheet" />

	<!-- 引入layer插件 -->
	<script src="../../../../static/layer-v2.0/layer/layer.js"></script>
	<link rel="stylesheet" href="../../../../static/layer-v2.0/layer/skin/layer.css" id="layui_layer_skinlayercss" style="">
	<script src="../../../../static/layer-v2.0/layer/laydate/laydate.js"></script>

	<!--引入webuploader-->
	<link rel="stylesheet" type="text/css" href="../../../../static/webuploader-0.1.5/webuploader.css">
	<script type="text/javascript" src="../../../../static/webuploader-0.1.5/webuploader.js"></script>

	<link href="../../../../static/iCheck/custom.css" rel="stylesheet" />
	<script src="../../../../static/iCheck/icheck.min.js"></script>
	<script src="../../../../static/iCheck/icheck-init.js"></script>

	<!-- 引入自定义文件 -->
	<script src="../../../../static/common/mustache.min.js" type="text/javascript"></script>
	<script src="../../../../static/common/content.js" type="text/javascript"></script>
	<link href="../../../../static/common/css/animate.css" type="text/css" rel="stylesheet" />
	<link href="../../../../static/common/css/login.css" type="text/css" rel="stylesheet" />

	<script src="../../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="../../../libs/vue.min.js"></script>
	<script src="../../../libs/router.js"></script>
	<!--script src="../../../libs/app.js"></script-->
	<script src="../../../plugins/layer/layer.js"></script>
	<script src="../../../js/common.js"></script>
	<script type="text/javascript">
        var validateForm;
        $(document).ready(function() {
            validateForm = $("#inputForm").validate({
                submitHandler: function(form){
                    loading('正在提交，请稍等...');
                    form.submit();
                },
                errorContainer: "#messageBox",
                errorPlacement: function(error, element) {
                    $("#messageBox").text("输入有误，请先更正。");
                    if (element.is(":checkbox")||element.is(":radio")||element.parent().is(".input-append")){
                        error.appendTo(element.parent().parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
                laydate({
                    elem: '#beginDate', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
                    event: 'focus' //响应事件。如果没有传入event，则按照默认的click
                });
                laydate({
                    elem: '#endDate', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
                    event: 'focus' //响应事件。如果没有传入event，则按照默认的click
                });
        });
	</script>
</head>
<body >
		<form id="inputForm" modelAttribute="formLeavem" action="../../../../rest/test/one/formLeave/save" method="post" class="form-horizontal">
		<input id="id" name="id" type="hidden" v-model="formData.id">
		<table class="width-100 table-condensed dataTables-example dataTable no-footer">
		   <tbody>
				<tr>
					<td class="width-15 active"><label class="pull-right"><font color="red">*</font>员工：</label></td>
					<td class="width-35">
					<input id="userId" name="user.id" class="form-control required" type="hidden" v-model="formData.user.id" >
					<div class="input-group">
						<input id="userName" name="user.name" readonly="readonly" type="text" v-model="formData.user.name" data-msg-required="" class="form-control required error" style="" >
				       		 <span class="input-group-btn">
					       		 <button type="button" id="userButton" class="btn   btn-white  "><i class="fa fa-search"></i>
					             </button>
				       		 </span>

				    </div>
					<label id="userName-error" class="error" for="userName" style="display:none">这是必填字段1</label>
					</td>
					<td class="width-15 active"><label class="pull-right"><font color="red">*</font>归属部门：</label></td>
<td class="width-35">
	<input id="officeId" name="office.id" class="form-control required" type="hidden" v-model="formData.office.id" >
	<div class="input-group">
		<input id="officeName" name="office.name" readonly="readonly" type="text" v-model="formData.office.name" data-msg-required="" class="form-control required error" style="" >
       		 <span class="input-group-btn">
	       		 <button type="button" id="officeButton" class="btn   btn-white  "><i class="fa fa-search"></i>
	             </button>
       		 </span>

    </div>
	 <label id="officeName-error" class="error" for="officeName" style="display:none">这是必填字段</label>
					</td>
				</tr>
				<tr>
					<td class="width-15 active"><label class="pull-right">归属区域：</label></td>
					<td class="width-35">
	<input id="areaId" name="area.id" class="form-control " type="hidden" v-model="formData.area.id">
	<div class="input-group">
		<input id="areaName" name="area.name" readonly="readonly" type="text" v-model="formData.area.name" data-msg-required="" class="form-control " style="">
       		 <span class="input-group-btn">
	       		 <button type="button" id="areaButton" class="btn   btn-white  "><i class="fa fa-search"></i>
	             </button>
       		 </span>

    </div>
	 <label id="areaName-error" class="error" for="areaName" style="display: none;"></label>
					</td>
					<td class="width-15 active"><label class="pull-right"><font color="red">*</font>请假开始日期：</label></td>
					<td class="width-35">
						<input id="beginDate" name="beginDate" type="text" maxlength="20" class="laydate-icon form-control layer-date required" v-model="formData.beginDate" aria-required="true">
					</td>
				</tr>
				<tr>
					<td class="width-15 active"><label class="pull-right"><font color="red">*</font>请假结束日期：</label></td>
					<td class="width-35">
						<input id="endDate" name="endDate" type="text" maxlength="20" class="laydate-icon form-control layer-date required" v-model="formData.endDate" aria-required="true">
					</td>
					<td class="width-15 active"><label class="pull-right">备注信息：</label></td>
					<td class="width-35">
						<input id="remarks" name="remarks" class="form-control" type="text" v-model="formData.remarks" maxlength="255">
					</td>
				</tr>
		 	</tbody>
		</table>
		<div class="layui-layer-btn"><a class="layui-layer-btn0" @click="save()">保存</a><a class="layui-layer-btn1">关闭</a></div>
	</form>
	<script src="../../../js/SpringUI.js"></script>
	<script src="../../../js/select.js"></script>
</body>
</html>